.profile{
    background-color: #240046;
}
body {
    font-family: 'Roboto', sans-serif;
}
.intro{
    background-color: #d8e2dc;
}
.white-text {
    color: white;
}

.blue-text {
    color: blue;
}
.project-body{
    background-color:#d8e2dc ;
}

.contact-page{
    background-color:#d8e2dc ;
}
.resume{
    background-color:#d8e2dc ;
}